# <center><font color=green>Python Data Structures: Tuples </font> </center>  
# <center><font color=green>Programming for Data Science with Python </font> </center>


## Overview

In Python, **tuples** are the objects of the class tuple that has the **constructor tuple()**.

**Tuple** is an **immutable** sequence data type/structure, i.e., its **contents cannot be changed** after being created.

Tuples work similarly to strings and lists:
 - Use the len() function for the length of a tuple
 - Use square brackets [] to access data, with the first element at index 0
 - The range of indices: 0 .. len(a tuple) - 1

#### <font color=red>IMPORTANT NOTES:</font>
**What are the benefit of tuples?**
 - Tuples are **faster than lists**.
 - If you know that some **data doesn't have to be changed**, you should **use tuples** instead of lists (because this protects your data against accidental changes.) 
 - Tuples can be used as **keys in dictionaries**, while lists can't. 
 - We generally use **tuple** for **heterogeneous (different) datatypes** and list for homogeneous (similar) datatypes.

### 1.1 Properties of Tuples

A tuple is an **immutable list**, i.e., a tuple cannot be changed in any way once it has been created.

A tuple is defined analogously to lists except that the set of elements is enclosed in parentheses instead of square brackets.

The rules for indices are the same as for lists. Once a tuple has been created, you can't add elements to a tuple or remove elements from a tuple.

#### <font color=red>IMPORTANT NOTES:</font>

It is actually the comma which makes a tuple, not the parentheses: 
 - The parentheses are optional, except in the empty tuple case **OR** when they are needed to avoid syntactic ambiguity.

For example: 
 - f(a, b, c) is a function call with three arguments
 - f((a, b, c)) is a function call with a 3-tuple as the sole argument.
 
 ### <font color=red> **Run the following code:** </font>

In [1]:
t = ("tuples", "are", "immutable")
t[0]

'tuples'

In [2]:
days = ('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
days[3]

'Wednesday'

### 1.3 Elements of Tuples

#### Index range of list elements

**Forward** index range of list elements: **0 .. len(list) â€“ 1** 
Forward: starting from the 1st element

**Backward** index range of list elements: **-1 .. -len(list**)
Backward: Starting from the last element

### <font color=red> **Run the following code:** </font>

In [3]:
t = ("tuples", "are", "immutable")
print(t[0])
print(t[-1])
print (t[-3])
print(len(t))

tuples
immutable
tuples
3

In [4]:
days = ('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')
print(days[6])
print(days[-2])
print (days[-5])
print(len(days))

Saturday
Friday
Tuesday
7

### 1.4 Constructor: tuple ([ iterable ])

The constructor builds a tuple whose items are the same and in the same order as iterable's items.
 - Iterable may be either a sequence, a container that supports iteration, or an iterator object.
 - If iterable is already a tuple, it is returned unchanged.

If no argument is given, the constructor creates a new empty tuple:().

### <font color=red> **Run the following 2 code blocks:** </font>

In [5]:
tuple = ("a","b","c")
print(tuple)

('a', 'b', 'c')

In [6]:
seasons = ('Winter', 'Spring', 'Summer', 'Autumn')
print(seasons)

('Winter', 'Spring', 'Summer', 'Autumn')

In [7]:
tuple_a = ([1,2,3])
print(tuple_a)

[1, 2, 3]

In [8]:
tuple_b = (['a','b','c'])
print(tuple_b)

['a', 'b', 'c']

<hr style="border:5px solid green"> </hr>

## 2. Create Tuples

Tuples may be constructed in a number of ways: 
 - Using a pair of parentheses to denote the empty tuple: ()
 - Using a trailing comma for a singleton tuple: a, or (a,)
 - Separating items with commas: a, b, c or (a, b, c)
 - Using the tuple() built-in: tuple() or tuple(iterable)

A tuple is created by placing all the items (elements) inside a parentheses(), separated by comma. The parentheses are optional but is a good practice to write it.

### <font color=red> **Run the following 4 code blocks:** </font>

In [9]:
# empty tuple
# Output: ()
my_tuple = ()
print(my_tuple)

()

In [10]:
empty_tup = ()
print(empty_tup)

()

In [11]:
# tuple having integers
# Output: (1, 2, 3)
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [12]:
fav_num = (3, 7, 8)
print(fav_num)

(3, 7, 8)

In [13]:
# tuple with mixed datatypes
# Output: (1, "Hello", 3.4)
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [14]:
mixed_tuple = ('1', 'day',)
print(mixed_tuple)

('1', 'day')

In [15]:
# nested tuple
# Output: ("mouse", [B, 4, 6}, (1, 2, 3))
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [16]:
encap_tuple = ("Superman", ['Henry Cavill', 'Christopher Reeves', 'Dean Cain'])
print(encap_tuple)

('Superman', ['Henry Cavill', 'Christopher Reeves', 'Dean Cain'])

### 2.1 Create tuples with only ONE element

Creating a tuple with one element is a bit tricky. 

Placing one element within parentheses is not enough. We must add a **trailing comma** to indicate that it is in fact a tuple.

### <font color=red> **Run the following 3 code blocks:** </font>

In [17]:
# only parentheses is not enough

my_tuple = ("hello")
print(type(my_tuple))

<class 'str'>

In [18]:
single_tup = ('single')
print(type(single_tup))

<class 'str'>

In [19]:
# need a comma at the end

my_tuple = ("hello",)
print(type(my_tuple))

<class 'tuple'>

In [20]:
single_tup = ('needs a comma at the end',)
print(single_tup)

('needs a comma',)

In [21]:
# parentheses are optional

my_tuple = "hello",
print(type(my_tuple))

<class 'tuple'>

In [23]:
parent_tup = "To parentheses, or not",
print(type(parent_tup))

<class 'tuple'>

<hr style="border:5px solid green"> </hr>

## 3. Access List Elements

As other sequence data types/structures, list elements can be accessed via their indices.

We can use the index operator [] to access an item in a list. **Index starts from 0**.
So, a list having 5 elements will have index from 0 to 4.
Trying to access an element other than this will raise an lndexError.

**The index must be an integer**.
We can't use float or other types, this will result into TypeError.

Nested list are accessed using nested indexing [][] that is similar to index of 2-D array elements.



### 3.1 Access Single Elements of Tuples
### <font color=red> **Run the following 8 code blocks:** </font>

In [24]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(my_tuple[0])

p

In [25]:
abc_tup = ('a', 'b','ab', 'c', 'abc')
print(abc_tup[4])

abc

In [26]:
print(my_tuple[5])

t

In [27]:
print(abc_tup[-2])

c

In [28]:
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(n_tuple[0][3])

s

In [29]:
nested_tup = ("Batman", ['Michael Keaton', 'Adam West', 'Christian Bale'], 'Penguin', ['Danny DeVito'])
print(nested_tup[1][2])

Christian Bale

In [31]:
print(n_tuple[1][1])

4

In [33]:
print(nested_tup[-1][0])

Danny DeVito

In [34]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
len(my_tuple)

6

In [36]:
waldo_tup = ('W', 'a','l','d','o')
len(waldo_tup)

5

In [37]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(my_tuple[-1])

t

In [38]:
waldo_tup = ('W', 'a','l','d','o')
print(waldo_tup[-3])

l

In [39]:
print(my_tuple[-6])

p

In [40]:
print(waldo_tup[-5])

W

In [41]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
# Range of the indices: 0 â€¦ len(my_tuples) -1: 0 â€¦ 6
# Index must be in range
# Or you will get an ERROR: since the index is out of range
print (my_tuple[6])

IndexError: tuple index out of range

In [42]:
waldo_tup = ('W', 'a','l','d','o')
print(waldo_tup[6])

IndexError: tuple index out of range

### 3.2 Access a slice of Tuples
### <font color=red> **Run the following 4 code blocks:** </font>

In [43]:
# elements 2nd to 4th
my_tuple =('p','r','o','g','r','a','m','i','z')

print(my_tuple[1:4])

('r', 'o', 'g')

In [45]:
your_tuple = ('z','y','x','w','v','u','t')
print(your_tuple[4:-1])

('v', 'u')

In [46]:
# elements beginning to 2nd
print(my_tuple[:-7])

('p', 'r')

In [47]:
print(your_tuple[:-4])

('z', 'y', 'x')

In [48]:
# elements 8th to end
# Output: ('i ', 'z')
print(my_tuple[7:])

('i', 'z')

In [49]:
print(your_tuple[2:])

('x', 'w', 'v', 'u', 't')

In [50]:
# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [51]:
print(your_tuple[:])

('z', 'y', 'x', 'w', 'v', 'u', 't')

<hr style="border:5px solid green"> </hr>

## 4. Modify Tuples

### 4.1 All elements are immutable objects (integers, floats, strings, etc.)

#### <font color=red>IMPORTANT NOTES:</font>
Tuples are immutable, i.e., they cannot be changed after being created. Any attempt to change or modify contents of tuples will lead to errors.

### <font color=red> **Run the following code block:** </font>

In [52]:
# Here you see that a tuple can not be modified; you get an error.
aTuple = ('Python', 'C', 'C++', 'Java', 'Scala')
aTuple[2] = 'Ruby'

TypeError: 'tuple' object does not support item assignment

In [53]:
days = ('Monday', 'Tuesday', 'Wednesday')
days[2] = 'Thursday'

TypeError: 'tuple' object does not support item assignment

### 4.2 One or more elements are mutable objects: lists, byte arrays, etc.

Tuples are **immutable**.
 - This means that elements of a tuple cannot be changed once it has been assigned.
 - If the element is itself a mutable datatype, like list, its nested items can be changed.
 
 ### <font color=red> **Run the following code block:** </font>

In [55]:
my_tuple = (4, 2, 3, [6, 5])
# An item of mutable element (list) can be changed

my_tuple[3][0] = 9
print(my_tuple)

(4, 2, 3, [9, 5])

In [56]:
their_tuple = ('a','b','c',['x','y','t'])
their_tuple[3][2] = 'z'
print(their_tuple)

('a', 'b', 'c', ['x', 'y', 'z'])

### 4.3 Tuples can be Reassigned

Tuples are immutable. 
 - This means that elements of a tuple cannot be changed once it has been assigned, but an existing tuple variable can be reassigned with a brand new tuple.
 
### <font color=red> **Run the following 2 code blocks:** </font>

In [57]:
tuple_1 = (4, 2, 3, [6, 5])
print ("tuple_1: ", tuple_1)

tuple_1:  (4, 2, 3, [6, 5])

In [60]:
their_tuple = ('a','b','c',['x','y','t'])
print("Theier tuple before: ", their_tuple)

Theier tuple before:  ('a', 'b', 'c', ['x', 'y', 't'])

In [61]:
# Reassign a new tuple to tuple1

my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
tuple_l = my_tuple
print("tuple_l after being reassinged: ", tuple_l)

tuple_l after being reassinged:  ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [63]:
their_tuple = ('a','b','c',['x','y','t'])
them_tuple = their_tuple
print("Their_tuple after: ", them_tuple)

Their_tuple after:  ('a', 'b', 'c', ['x', 'y', 't'])

<hr style="border:5px solid green"> </hr>

## 5. Copy Tuples

### 5.1 Shallow Copy

**Shallow copy** means that only the reference to the object is copied. No new object is created.

Assignment with an = on lists does not make a copy.
Instead, assignment makes the **two variables point to the same tuple** in memory.

### <font color=red> **Run the following code block:** </font>

In [64]:
tuple_l = "Hello"
tuple_2 = tuple_1
# Both the tuples refer to the same object, i.e., the same id value
id(tuple_1), id(tuple_2)

(2464108159808, 2464108159808)

In [71]:
copy_tup1 = "Shallow Copy",
copy_tup2 = copy_tup1
id(copy_tup1), id(copy_tup2)

(2464095656768, 2464095656768)

### 5.2 Deep copy

**Deep copy** means that a new object will be created when the copying has done.

#### <font color=red>IMPORTANT NOTES:</font>
Tuples are immutable sequence objects. Tuples **cannot** be deep-copied.

### 5.3 Delete Tuples

To delete a string, using the built-in function del().

### <font color=red> **Run the following 2 code blocks:** </font>

In [72]:
aTuple = "Python is the best scripting language."
del (aTuple)

In [73]:
del_tuple = "I am meant to be deleted.",
del (del_tuple)

In [68]:
# To show that the string has been deleted, let's print it
# You see you get an ERROR
print (sample_str)

NameError: name 'sample_str' is not defined

In [69]:
print(del_tuple)

NameError: name 'del_tuple' is not defined

<hr style="border:5px solid green"> </hr>

## 6. Operations on Tuples

### 6.1 Concatenate Tuples

### <font color=red> **Run the following code block:** </font>

In [70]:
tuple1 = 'Hello', # comma to indicate this is a tuple; parentheses are optional
tuple2 = ' ',
tuple3 ='World!',

# using +
print('tuple1 + tuple2 + tuple3 = ', tuple1 + tuple2 + tuple3)

tuple1 + tuple2 + tuple3 =  ('Hello', ' ', 'World!')

In [74]:
eenie = "Pick a",
meenie = "tiger",
minie = "by the",
moe = "toe",
print('eenie, meenie, minie, moe', eenie, meenie, minie, moe)

eenie, meenie, minie, moe ('Pick a',) ('tiger',) ('by the',) ('toe',)

### 6.2 Replicate tuples

Using * to replicate a tuple

### <font color=red> **Run the following code block:** </font>

In [75]:
Tuple1 = "Hello",
replicatedTuple = tuple1 * 3
print (replicatedTuple)

('Hello', 'Hello', 'Hello')

In [76]:
no_tuple = 'No',
no_more = no_tuple * 20
print(no_more)

('No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No')

### 6.3 Test elements with "in" and "not in"

### <font color=red> **Run the following 3 code blocks:** </font>

In [77]:
aTuple = (2, 4, 6, "This", "is", "a", "tuple")
print (2 in aTuple)

True

In [78]:
father = ('Luke', 'I','am', 'your', 'father', 'Love', 'Vader')
print('father' in father)

True

In [79]:
print ('a' in aTuple)

True

In [81]:
print('Vader' in father)

True

In [82]:
print ("This is" in aTuple)

False

In [83]:
print("I am" in father)

False

### 6.4 Compare Tuples: <, >, <=, >=, ==, !=

### <font color=red> **Run the following code block:** </font>

In [84]:
Tuple1 = "Hello World!"
tuple2 = "hello world!"
print (tuple1 == tuple2)

False

In [85]:
potuple1 = 'potatoe'
potuple2 = 'potato'
print (potuple1 == potuple2)

False

### 6.5 Iterate a tuple using for loop

### <font color=red> **Run the following 3 code blocks:** </font>

In [86]:
tuple1 = ("This", "is", 1, "book")
for i in tuple1:
   print (i)

This
is
1
book

In [95]:
adele_v1 = 'Hello', 'its', 'me...',
for word in adele_v1:
    print (word)

Hello
its
me...

In [96]:
Tuple1 = ("This", "is", 1, "book")
for i in tuple1:
   print (i, end="")

Thisis1book

In [97]:
adele_v2 = 'Hello,', 'how', 'are', 'you?', '...',
for word in adele_v2:
    print (word, end=" ")

Hello, how are you? ...

In [98]:
Tuple1 = ("This", "is", 1, "book")
for i in tuple1:
    print(i, end="\n")

This
is
1
book

In [99]:
adele_chorus = 'Hello', 'from', 'the', 'other', 'sideeeeee',
for word in adele_chorus:
    print (word, end="\n")

Hello
from
the
other
sideeeeee

<hr style="border:5px solid green"> </hr>

## 7. Class Tuple


### 7.1. count()

count(x) returns the number of elements of the tuple that are equal to (x)

### <font color=red> **Run the following code block:** </font>

In [101]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)
# Count
print(my_tuple.count('p'))

2

In [102]:
name = ('D','e','A','n','d','r','i','e')
print(name.count('e'))

2

### 7.2 index (x)

index(x) returns the index of the first element that is equal to (x)

### <font color=red> **Run the following code block:** </font>

In [103]:
# Index
my_tuple=('a','p','p','l','e',)
print(my_tuple.index('l'))

3

In [104]:
name = ('D','e','A','n','d','r','i','e')
print(name.index("A"))

2

<hr style="border:5px solid green"> </hr>